:root {
    --color-white: hsl(0, 0%, 100%);

    --color-light-blue: hsla(178, 60%, 48%, 1);
    --color-light-blue-hover: hsla(178, 76%, 66%, 1);
    --color-light-blue-shadow: #118c87;

    --color-light-yellow: hsla(39, 88%, 58%, 1);
    --color-light-yellow-hover: hsla(39, 100%, 69%, 1);
    --color-light-yellow-shadow: #cc8b13;

    --color-silver: hsla(199, 24%, 73%, 1);
    --color-silver-hover: hsla(198, 35%, 89%, 1);
    --color-silver-shadow: #6b8997;

    --color-dark-navy: hsla(200, 32%, 15%, 1);
    --color-semi-dark-navy: hsla(200, 35%, 19%, 1);
    --color-dark-navy-shadow: #10212a;

    --shadow-navy-dark-4px: inset 0px -4px 0px #10212a;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-dark-navy);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
