// // // // // // // // // // // // // // //

.overflow_hidden {
    overflow: hidden;
}

@keyframes fade-in-bck {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.section {
    animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    width: 375px;
    margin: 0 auto;
    padding: 0 24px;
    // padding: 24px 24px 127px 24px;

    @media only screen and (min-width: 768px) {
        width: 508px;
        // padding: 139px 24px 138px 24px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 19px;
    }
}

.middleBox {
    background-color: var(--color-semi-dark-navy);
    box-shadow: var(--shadow-navy-dark-4px);

    width: 96px;
    height: 40px;
    border-radius: 5px;
    position: relative;

    @media only screen and (min-width: 768px) {
        width: 140px;
        height: 52px;
        border-radius: 10px;
    }

    .turn_mark {
        transform: scale(0.25);

        path {
            fill: var(--color-silver);
        }

        position: absolute;
        top: -14px;
        left: -10px;

        @media only screen and (min-width: 768px) {
            transform: scale(0.315);
            top: -8px;
            left: 7px;
        }

        &_x {
            transition: transform 0.2s;
        }

        &_o {
            transition: transform 0.2s;
        }

        &_fade_out {
            transform: scale(0);
        }
    }

    p {
        color: var(--color-silver);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.875px;

        position: absolute;
        top: 9px;
        right: 15px;

        @media only screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            top: 13px;
            right: 30px;
        }
    }
}

// // // // // // // // // // // // // // //

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;

    width: 100%;
    height: 327px;

    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
        height: 460px;
        margin-bottom: 19px;
    }
}

.box {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 24px;

    border-radius: 10px;
    background-color: var(--color-semi-dark-navy);
    box-shadow: var(--shadow-navy-dark-8px);
    cursor: pointer;

    @media only screen and (min-width: 768px) {
        padding-top: 38px;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.mark_hover {
    width: 40px;
    height: 40px;

    user-select: none;
    pointer-events: none;
    display: none;

    opacity: 0;
    transition: opacity 0.5s;

    @media only screen and (min-width: 768px) {
        width: 64px;
        height: 64px;
    }

    &_display {
        display: block;
    }

    &_show {
        opacity: 1;
        animation: pulsate 1s infinite;
    }
}

.x_winner {
    background-color: var(--color-light-blue);
    box-shadow: var(--shadow-light-blue);
}

.o_winner {
    background-color: var(--color-light-yellow);
    box-shadow: var(--shadow-light-yellow);
}

.mark {
    display: none;
    user-select: none;
    pointer-events: none;

    transform: scale(0.95);
    top: 12px;

    @media only screen and (min-width: 768px) {
        transform: scale(1.5);
        top: revert;
    }

    &_x {
        position: absolute;
    }

    &_o {
        position: absolute;
    }

    &_display {
        display: block;
    }

    &_fade_in {
        transition: transform 0.25s;
        transform: scale(0.625);

        @media only screen and (min-width: 768px) {
            transform: scale(1);
        }
    }

    &_winner path {
        fill: var(--color-dark-navy);
    }
}

// // // // // // // // // // // // // // //

.footer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 64px;

    @media only screen and (min-width: 768px) {
        grid-template-rows: 72px;
    }
}

.total {
    color: var(--color-dark-navy);
    text-align: center;

    padding-top: 12px;
    border-radius: 10px;

    @media only screen and (min-width: 768px) {
        padding-top: 13px;
        border-radius: 15px;
    }
}

.total_x {
    background-color: var(--color-light-blue);
}

.total_ties {
    background-color: var(--color-silver);
}

.total_o {
    background-color: var(--color-light-yellow);
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.75px;

    margin-bottom: 1px;

    @media only screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.875px;
    }
}

.score {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1.25px;

    @media only screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1.5px;
    }
}

// // // // // // // // // // // // // // //
