@font-face {
    font-family: 'manrope';
    src: url(./../assets/fonts/manrope/Manrope-VariableFont_wght.ttf)
        format('truetype');
}

@font-face {
    font-family: 'fraunces';
    src: url(./../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf)
            format('truetype'),
        url(./../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf)
            format('truetype');
}

:root {
    --color-white: hsla(0, 0%, 100%, 1);
    --color-dark-purple: hsla(273, 85%, 13%, 1);
    --color-green: hsla(150, 100%, 63%, 1);
    --color-grey: hsla(271, 12%, 34%, 1);
    --color-ghost-white: hsla(274, 100%, 99%, 1);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    // font-family: 'manrope';
    // font-family: 'fraunces';
}
