.header {
    background-color: var(--color-dark-purple);
    padding: 32px 16px 64px 16px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
