.hero {
    display: none;
    background-color: var(--color-dark-purple);

    &__wrapper {
        position: relative;

        background-image: radial-gradient(
            150% 100% at 50% 10%,
            var(--color-dark-purple) 90%,
            var(--color-white) 90%
        );
    }

    &__pt-left,
    &__pt-right {
        position: absolute;
        z-index: 0;
    }

    &__pt-left {
        left: 0;
    }

    &__pt-right {
        right: 0;
    }

    &__content {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    &__title {
        color: var(--color-white);
        font-family: 'fraunces';
        font-weight: 600;
        font-size: 50px;
        line-height: 50px;

        span {
            border-bottom: 3px solid var(--color-green);
        }
    }

    &__img-box {
        position: relative;
        z-index: 1;
    }

    &__img {
    }
}
